.reg-block {
  width: 380px;
  padding: 20px;
  margin: 60px auto;
  background: #fff;
  border-top: solid 2px #E71C4D;
    box-shadow: 0 0 3px #7B6F6F;
    margin-top: 150px;
}

.reg-block-header {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: solid 1px #eee;
}
.reg-block-header h2 {
  text-align: center;
  margin-bottom: 15px;
}
.reg-block-header h2 {
  font-size: 28px;
}
.reg-block h2, .reg-block p, .reg-block p a {
  color: #777;
}
.reg-block p a {
  text-decoration: underline;
}
.reg-block-header p {
  text-align: center;
}
.social-icons {
  margin-top: 5px;
}

.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li a {
  margin: 0 3px;
}

.social-icons li a, a.social-icon {
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.rounded-x {
  border-radius: 50% !important;
}
.social_facebook {
  background: url(images/facebook.png) no-repeat;
}
/*include in all*/
p, li, li a, label {
  color: #555;
}

a, a:focus, a:hover, a:active {
  outline: 0 !important;
}

.social-icons li {
  list-style: none;
  margin-right: 3px;
  margin-bottom: 5px;
  text-indent: -9999px;
  display: inline-block;
}
.social-icons li:hover a {
  background-position: 0 -38px;
}
.social_twitter {
  background: url(images/twitter.png) no-repeat;
}
.social_googleplus {
  background: url(images/googleplus.png) no-repeat;
}
.social_linkedin {
  background: url(images/linkedin.png) no-repeat;
}

.reg-block-header p {
  text-align: center;
}
.reg-block h2, .reg-block p, .reg-block p a {
  color: #777;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-5, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60 {
  clear: both;
}
.reg-block .input-group-addon {
  color: #bbb;
  background: none;
    font-size: 14px;
  min-width: 40px;
}
.form-control {
  box-shadow: none;
}
.btn-u.btn-block {
  text-align: center;
}
.btn-u {
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 13px;
  position: relative;
  background: rgba(231, 28, 77, 1);
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  color: #F03246;
  text-decoration: underline;
}
a {
  color: #F03246;
  text-decoration: none;
}